.challenge {
  background-color: var(--grey-50);
}

.challengeContainer {
  display: flex;
  flex-direction: column;
  padding: 32px 48px;
}

.challengeContainer p {
  margin-top: 1rem;
}

.challengeContainer p em:first-of-type {
  font-size: var(--20px);
  line-height: 150%;
}

.challengeHeader {
  color: var(--secondary-color-700);
}
