.challenge {
  background-color: var(--grey-50);
}

.challengeContainer {
  display: flex;
  flex-direction: column;
  padding: 32px 48px;
  margin: 0 auto 5rem;
}

.challengeContainer p {
  margin-top: 1rem;
}

.challengeContainer p em:first-of-type {
  font-size: var(--20px);
  line-height: 150%;
}

.challengeHeader {
  color: var(--secondary-color-700);
}

@media screen and (max-width: 600px) {
  .challengeContainer {
    margin: 0 auto 2rem;
    padding: 32px;
  }
}
