.description {
  margin-bottom: 2rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.bullet {
  display: flex;
  gap: 32px;
  margin-bottom: 2.5rem;
}

.bulletText h4 {
  color: var(--secondary-color-800);
  margin-bottom: 1rem;
}

.idSubIcon {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .pencil {
    display: none;
  }

  .bullet {
    flex-direction: column;
    gap: 16px;
  }

  .icon {
    align-self: flex-start;
  }
}
