.header {
  background: #e5dbf4;
  color: var(--primary-color-800);
  display: flex;
  justify-content: space-between;
  padding: 0px 48px;
  position: sticky;
  top: 0;
  z-index: 10;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  fill: var(--secondary-color-400);
}

.logo:hover {
  fill: var(--primary-color-800);
}

.mainNav.visible {
  display: flex;
}

.mainNav > li {
  list-style-type: none;
  padding: 28px 16px;
  gap: 8px;
}

.projects {
  display: flex;
  position: relative;
}

.collapsed {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.expanded {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.hidden {
  display: none;
}

.projectsTag span {
  padding-right: 8px;
}

.projectsTag img {
  vertical-align: text-bottom;
}

.projectsList {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  text-align: right;
  width: 200px;
  background-color: #fff;
}

.projectsList li {
  display: flex;
  padding: 8px 16px;
  justify-content: flex-end;
  gap: 10px;
}

.projectsList li:hover {
  background: #eee;
}

.mainNav li.resume {
  margin: 16px 8px;
  padding: 12px 16px;
  border-radius: 4px;
  background: var(--secondary-color-400);
}

.mainNav li.resume a {
  display: flex;
  justify-content: center;
  color: #fff;
}

.mainNav li.resume a span {
  padding: 0 16px;
}

.mobileMenu {
  display: none;
}

.separator {
  display: none;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .header {
    height: 50px;
    padding: 0px 32px;
  }

  .header > * {
    padding-top: 4px;
  }

  .mobileMenu {
    display: inline;
    background: none;
    border: none;
  }

  .separator {
    display: block;
    border: 1px solid var(--grey-200);
    width: 100%;
    margin: auto;
  }

  .logo {
    height: 32px;
    width: 32px;
  }

  .mainNav.visible {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    text-align: right;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: var(--primary-color-50);
    padding: 40px 48px 12px;
  }

  .mainNav > li {
    padding: 12px 0;
    font-size: var(--16px);
  }

  .projects {
    position: static;
    flex-direction: column;
    align-items: flex-end;
  }

  .projectsTag {
    padding: 24px 0;
  }

  .projectsTag span {
    font-size: var(--16px);
  }

  .projectsList {
    display: inline;
    position: static;
    text-align: right;
    background-color: var(--primary-color-50);
  }

  .projectsList li {
    font-size: var(--14px);
    padding: 12px 8px;
  }

  .projectsList a {
    color: var(--grey-700);
  }

  .resume {
    position: absolute;
    bottom: 12px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}
