.header {
  background: #e5dbf4;
  color: var(--primary-color-800);
  display: flex;
  justify-content: space-between;
  padding: 0px 48px;
  position: sticky;
  top: 0;
  z-index: 10;
  align-items: center;
}

.header a {
  color: var(--primary-color-800);
}

.logo {
  height: 50px;
  margin: auto auto auto 0;
  fill: var(--secondary-color-400);
}

.logo:hover {
  fill: var(--primary-color-800);
}

.mainNav {
  display: flex;
}

.mainNav > li {
  list-style-type: none;
  padding: 28px 16px;
  gap: 8px;
}

.projects {
  display: flex;
  position: relative;
}

.collapsed {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.expanded {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  text-align: right;
  width: 200px;
  background-color: #fff;
}

.projects ul li {
  display: flex;
  padding: 8px 16px;
  justify-content: flex-end;
  gap: 10px;
}

.projects ul li:hover {
  background: #eee;
}

.mainNav li.resume {
  margin: 16px 8px;
  padding: 12px 16px;
  border-radius: 4px;
  background: var(--secondary-color-400);
}

.mainNav li.resume a {
  display: flex;
  justify-content: center;
  color: #fff;
}

.mainNav li.resume a span {
  padding: 0 16px;
}
