.carouselContainer {
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--grey-700);
  border-radius: 24px;
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselTrackContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carouselTrack {
  display: flex;
  align-items: center;
}

.carouselItem {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  overflow: hidden;
  cursor: grab;
}

.carouselItem:active {
  cursor: grabbing;
}

.carouselIconContainer {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.carouselIndicatorsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carouselIndicators {
  margin-top: 1rem;
  display: flex;
  width: 150px;
  justify-content: center;
  gap: 24px;
}

.carouselIndicator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carouselIndicator.active {
  background-color: var(--grey-700);
}

.carouselIndicator.inactive {
  background-color: var(--grey-200);
}

.button {
  background: none;
  border: none;
  z-index: 2;
}

.arrow {
  height: 4rem;
  width: 4rem;
  color: var(--grey-200);
  padding: 0 16px;
  transition: color 0.2s ease-in-out;
}

.arrow:hover {
  transition: color 0.2s fadease-in-oute;
  color: var(--grey-700);
}
