.footer {
  background: var(--primary-color-800);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 80px;
  height: 76px;
}

.footer p {
  color: #fff;
  font-size: var(--12px);
  line-height: 120%;
}
