.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 48px;
}

.title {
  color: var(--secondary-color-800);

  margin-bottom: 0.5rem;
  align-self: flex-start;
}

.cards {
  display: flex;
  gap: 16px 39px;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .projectsContainer {
    padding: 80px 32px;
  }
}
