.box {
  background-color: var(--primary-color-50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 240px;
}

.box span {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .box {
    margin-bottom: 1rem;
    justify-content: flex-start;
  }
}
